@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@theme {
  --font-caesar: "Caesar Dressing", system-ui;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-LaBelleAurore: "La Belle Aurore", cursive;
}


@layer utilities {
    .shadow-vignette {
      @apply shadow-none; /* Reset any existing shadows */
      box-shadow: inset 0 0 500px 200px rgba(0, 0, 0, 1);
    }

    .bottom-vignette{
        @apply shadow-none; /* Reset any existing shadows */
        box-shadow: 0 -50px 80px 80px rgba(2,7,12,1);
    }
  }


  .card {
  @apply border-4 border-[#e6e5e5] rounded-2xl font-poppins bg-[#f4f4f4] hover:bg-white p-6 flex flex-col gap-4 hover:shadow-lg;
}